html {
    margin: 0;
    padding: 0;
}

body {
    font-family:	Verdana, Geneva, sans-serif;
    font-size:		18px;
    margin-left: 	3%;
    margin-right: 	3%; 
}

footer{
    text-align: center;    
}

p {
    margin-top: 0;
    margin-bottom: 1;
    text-align: justify;    
}

p.alignright {
    margin: 9px 24px 0 0;
    text-align: right;
}

a:link {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:active {
    color: red;
    text-decoration: underline;
}


h1 {
    color: 		#330066;
    font-weight: 	bold;
    text-align: 	center;
}

h2 {
    color: 		#336666;
    font-weight: 	bold;
    text-align: 	left;
}

h3 {
    background-color: 	#CCCC99;
    color: 		#333300;
    font: 		bold italic 1.3em georgia,sans-serif;
    letter-spacing: 	3px;
    margin-top: 	1px;
    margin-bottom: 	1px;
}

blockquote {
    background-image: url("../images/quotes_1.png");
    background-repeat: no-repeat;
    margin: 24px 0 0;
    text-indent: 24px;
    text-align: justify;
}

blockquote p {
    background-image: url("../images/quotes_2.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    display: inline;
    padding: 0 24px 4px 0;
}

q{
  background-color: #CCFFFF  
}

code {
    background-color: #CCFFCC;
}

em {
    background-color: #FFCC99;
}

.balloon{
    display: none;    
}

div.video {
    background-color: #000000;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px #606365;
    padding-top: 3px;
    text-align: center;
    width: 100%;
}

td.slide{
    border: medium none ;
    padding: 5px;
    width: 36%
}

td.transcribe{
    border: medium none ;
    padding: 5px;
    width: 64%	
}


#cssmenu {
}

#license {
	font-family: 	"Lucida Console", Monaco, monospace;
	font-size:	small;
	font-style:	italic;	
	text-align: 	left;
	
}




